@keyframes fade-down{
    0%{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
    }
    100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }
    @keyframes fade-up{
      0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
      }
      100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
      }

    }

      /* navigation */

      .navi{
        animation: fade-down 1s;
      }
      .navi .N-one {
        z-index: 100%;
      }
      .navi .N-one #Navigation {
        background-image: linear-gradient(rgb(236, 43, 9), rgb(197, 13, 3));
        border-radius: 50rem;
        height: 5rem;
        z-index: 100;
      }
      .navi .N-one #Navigation .container-fluid .dropdown:hover .dropdown-menu {
        display: block;
        z-index: 100%;
      }
      .navi .N-one #Navigation .container-fluid .dropdown-menu .dropdown-item:hover {
        background-color: white;
        color: rgb(255, 183, 0);
        text-decoration: underline;
        z-index: 100%;
      }
      .navi .N-one #Navigation .container-fluid .navbar-collapse {
        background-image: linear-gradient(rgb(236, 43, 9), rgb(197, 13, 3));
      }
      .navi .N-one #Navigation .nav-item {
        border: 0;
      }
      .navi .N-one #Navigation .nav-item .nav-link:hover {
        color: rgb(255, 130, 53);
        cursor: pointer;
      }
      .navi .N-one #Navigation .nav-item .nav-link {
        border: 0;
      }
      .navi .N-one div a {
        color: white;
      }
      .navi .N-one div #Togb {
        background-color: white;
        color: black;
        border: 5% black;
      }
      .navi .N-one div .btn {
        background-color: rgb(212, 127, 8);
        color: white;
        border: 0;
      }
      .navi .N-one div .collapse ul li ul li a {
        color: black;
      }











  
  body {
    max-width: 1890;
    font-family: cerebri;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .topbox {
    margin:auto;
    margin-top: 8rem;
    width: 98%;
    height: 400px;
    border-radius: 40px;
    background-image: url(p/page-title_2.jpg);
    padding: 70px 0;
    overflow: hidden;
    justify-content: center;
    animation: fade-down 1s;

    
}
  .par{
    font-weight: 800;
    font-size: 3rem;
    margin-left: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .bkt{
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 20px;
    
  }
  
  .dash{
    position: relative;
    float: center;
    display: flex;
    margin:auto;
    margin-top: px;
    width: 70px;
    height: 5px;
    border-radius: 40px;
    background-color: rgb(235, 144, 9);
  }
  .til{
    display: flex;
    justify-content: space-between;
       
  }

  
  .homelink {
    position: relative;
    margin-top: 150px;
    border-radius: 40px;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(196, 11, 11);
    display: flex;
    justify-content: center;
  }
  
  .homelink a{
    margin: auto;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
  }
  
  .homelink a:hover{
    color: orange;
    transition: 0.5s;
  }
  
  .homelink p{
    margin: auto;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  /* contact */
  .features-section {
    display: flex;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 21rem;
    justify-content: space-around;
    background-color: #262626;
    padding: 20px 0;
    color: white;
    text-align: center;
    border-radius: 30px;
    animation: fade-up 2s;
}

.feature {
    flex: 1;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.icon {
    background-color: #e40000;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 3rem;
}
.icon i{
    font-size:40px ;
}


.feature h3 {
    margin-top: 0;
    font-size: 2.0em;
    font-weight: 500;
}

.feature:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ffcc00;
    /* Yellow line below each title */
    margin: 10px auto 0;
}

.description {
    color: #faf8f5;
    font-weight: 500;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transform-origin: bottom;
    transition: transform 300ms  ease-in-out;
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1.5;
    animation: fade-up 1s;
    
}

.feature:hover .description {
    display: block;
    opacity: 1;
    transform: translateY(1);
}

.und{
  animation: fade-up 4s;
}
.hp{padding: 3rem;}
.hp h4{
    margin-top: 3rem;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
}

/* form */

.form-container{
  margin:auto;
  margin-bottom: 4rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}

.booking-form .form-row {
  display: contents; 
}

.booking-form input,
.booking-form select {
  width: calc(33.333% - 20px);
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: 5px solid #a10000;
  border-radius: 25px; 
  background: white; 
}

.booking-form button {
  width: calc(33.333% - 20px);
  padding: 10px;
  background-color: #FFA500; /* Adjust the button color */
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
}

.booking-form button:hover {
  background-color: #FF8C00; /* Darker shade for hover */
}
.down-curvy{
  display: flex;
}
.up-curvy{
  display: flex;

}.down-curvy img{
  margin-top: 0px;

}

.umag{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.umag img{
  width: 15rem;
  height: 10rem;
}
    
/* footer */

.mf {
  margin-top: 10rem;
  background-image: linear-gradient( to top , #000,#00000098);
  height: -moz-min-content;
  height: min-content;
}
.mf .zone {
  position: relative;
  display: flex;
  margin: auto;
}
.mf .zone a .logo {
  height: 4vh;
  border-radius: 50rem;
  border: 3px;
  display: flex;
  justify-content: space-between;
}
.mf .zone .TL {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.mf .texts ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.mf .texts ul a {
  text-decoration: none;
}
.mf .sec-row {
  position: relative;
}
.mf .sec-row .row {
  margin-left: 2rem;
}
.mf .sec-row .row .col {
  padding-top: 1rem;
}
.mf .social {
  position: relative;
  background-image: linear-gradient(rgb(236, 43, 9), rgb(197, 13, 3));
  border-radius: 5rem;
  height: 3.2rem;
  width: 18rem;
  margin: auto;
  margin-top: 5rem;
}
.mf .social .user {
  display: flex;
}
.mf .social .user li {
  position: relative;
  list-style: none;
  margin: 0.9rem;
}
.mf .social .user li i.fa-solid {
  color: white;
}
.mf .social .user li i.fa-solid:hover {
  color: rgb(255, 165, 46);
  cursor: pointer;
  border-radius: 8rem;
}
.mf .row .col .texts ul li a {
  color: white;
}
.mf .sec-row div div {
  padding-right: 3rem;
}
.mf .sec-row div div div ul {
  list-style: none;
}
.mf .copyright {
  margin-top: 1rem;
}
.mf .copyright .c-msg {
  color: white;
}
.mf .copyright .p-img .tt {
  -o-object-fit: fill;
     object-fit: fill;
  height: 2rem;
}